body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.formulaire {
    display: none;
}

.formulaire.actif {
    display: block;
}

label {
    display: block;
    margin: 10px 5px;
    color: grey;
}

.conteneur {
    width: 400px;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.connexion-google button {
    background-color: brown;
    margin-top: 10px;
}

button:hover {
    background-color: #007bff;
}

p {
    text-align: center;
    margin-top: 10px;
    color: grey;
}

p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}