body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 100vw;
    /* overflow-x: hidden; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo div {
    width: 40px;
    height: 40px;
    background-color: #007BFF;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 10px;
}

.logo div img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

.header-links {
    display: flex;
    gap: 15px;
}

.header-links button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.header-links button:hover {
    background-color: #0056b3;
}

main {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 36px;
    margin-bottom: 10px;
}


.description {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons button {
    padding: 10px 20px;
    border: 1px solid #007BFF;
    color: #007BFF;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button a {
    text-decoration: none;
}

.buttons button:hover {
    background-color: #007BFF;
    color: white;
}

footer {
    display: flex;
    gap: 15px;
    padding: 10px;
}

footer a img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

footer a img:hover {
    transform: scale(1.1);
}

.carrousel-conteneur {
    min-width: 100%;
    border: 1px solid black;
    margin: 50px auto;
    margin-bottom: 0px;
    overflow: hidden;
}

.carrousel-conteneur .carrousel {
    display: flex;
    animation: slider-1 12s infinite ease-in-out;
    width: 100%;
}

.carrousel-conteneur p {
    background-color: #007BFF;
    flex-shrink: 0;
    padding: 12% 0;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: white;
}

.carrousel-conteneur img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slider-1 {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}